body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #003f5c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-image img{
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 1rem;
}

.main-audio {
  max-width: 200px;
  max-height: 200px;
}


.speak-button {
  margin-top: 1rem ;
  min-width: 200px;
  border-radius: 15px;
  background-color: rgb(91, 3, 233)

}

.speak-button img{
  max-width: 20px;
}

.Button{
  display: flex;
  flex-direction: column;
  align-items: center;
}
